# # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                       #
#        __.____                                        #
#       |__|    |    ____   _________    ____ ___.__.   #
#       |  |    |  _/ __ \ / ___\__  \ _/ ___<   |  |   #
#       |  |    |__\  ___// /_/  > __ \\  \___\___  |   #
#   /\__|  |_______ \___  >___  (____  /\___  > ____|   #
#   \______|       \/   \/_____/     \/     \/\/        #
#                                                       #
#                   jLegacy Framework                   #
#                 Forked from ESX Legacy                #
#                                                       #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # #

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow